.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0a2629;
    color: #fff;
    margin-left: 225px;
    border-left: 1px solid #fff;
}

.about-container {
    align-items: flex-start;
    display: flex;
}

.about-container h2 {
    font-size: 36px;
    font-weight: 700;
    color: #00ffee;
}

.about-container h1 {
    font-size: 3em;
    color: #d3f4f2;
    margin-bottom: 20px;
    max-width: 800px;
}

.about-container p {
    font-size: 1.2em;
    margin: 20px 0px 0px;
    line-height: 28px;
    max-width: 800px;
    color: #51fffc;
}

.about-container .me-img {
    margin-right: 40px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 7px solid #00fffb;
}

@media (max-width: 768px) {
    .about {
        margin-left: 0;
        border-left: none;
    }
}

@media (max-width: 567px) {
    .about-container h2 {
        font-size: 26px;
    }

    .about-container h1 {
        font-size: 2.2em;
    }

    .about-container p {
        font-size: 1em;
    }

    .about-container .me-img {
        display: none;
    }
}