.home-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.home-section h1 {
    font-size: 6em;
    color: #d3f4f2;
    padding-top: 40px;
}

.home-section h2 {
    font-size: 3em;
    margin: 10px;
    color: #3ffaff;
}

.language-button {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.language-button b {
    color: #0a2629;
}

.language-button span {
    margin-right: 10px;
}

.language-button button {
    padding: 12px 45px;
    font-size: 1.2em;
    background-color: #f2fbfa;
    border: 3px solid #d3f4f2;
    border-radius: 10px;
    transition: 0.6s ease;
    cursor: pointer;
}

.language-button button:hover {
    background-color: #72d6d4;
}

@media (max-width: 567px) {
    .home-section h1 {
        font-size: 5.7em;
        margin: 0 auto;
        text-align: center;
    }

    .language-button {
        gap: 24px;
    }

    .language-button button {
        padding: 12px 30px;
        font-size: 1.1em;
        transition: 0.6s ease;
    }
}