.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b4346;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links p {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navbar-links p:active {
    color: #ff0000;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 1s;
}

@media (min-width: 769px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1b4346;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-links li {
        text-align: center;
        margin: 15px 0;
    }

    .menu-icon {
        display: flex;
    }
}