.sidebar {
    position: fixed;
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #ffffff;
}

.sidebar-logo {
    text-align: center;
}

.sidebar-logo img {
    width: 35%;
}

.sidebar-logo img:hover {
    transform: scale(1.2);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    background-color: #0a2629;
    border: 1px solid #fff;
    border-radius: 12px;
    width: 70%;
    text-align: center;
}

.sidebar ul li {
    margin: 40px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
}

.sidebar ul li a.active {
    color: #ff2626;
    font-size: 25px;
    text-decoration: underline;
}

.sidebar ul li a:hover {
    color: #66bbb8;
}

.sidebar-footer {
    color: #fff;
}

/* Ocultar el menú lateral en dispositivos móviles */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar .close-btn {
        display: block;
    }
}